# Object files
*.o
*.ko
*.obj
*.elf

Lab_5/parallel-kmeans/Image_data/
Lab_5/parallel-kmeans/Test_Advice/
Lab_5/parallel-kmeans/test_inspector/
Lab_5/sequential_golden_stuff/Image_data/

seq_main

main
images/
Lab_4/serial_code_golden/images/
Lab_4/serial_code_golden/gold_mesuments/
Lab_4/test_project

Convolution2D_CUDA_Grid
Convolution2D_CUDA_Tiled
test1                                                                       
test2
testCPU
testGPU
testC
testCUDA
Convolution2D_CUDA                                               
Convolution2D_CUDA_8                                                        
Convolution2D_CUDA_6   
Convolution2D_CUDA
Convolution2D_CUDA_4
samples/
sobel_orig_no_change
sobel_2nd_test_set
sobel_1st_test_set
*.grey
*.jpg
outfile.txt
.~lock.Lab1_counts.ods#

Lab_1/test/
# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
